<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lw.wanandroid">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 改变wifi状态 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取sd卡 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <!-- 获取电池信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 设置系统权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 设置系统权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 电源锁权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 允许应用写（非读）用户的日历数据 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 允许应用访问震动器 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.article.ArticleContentActivity"/>
        <activity android:name=".ui.article.ArticleTypeActivity"/>
        <activity android:name=".ui.hotsearch.SearchActivity"/>
        <activity android:name=".ui.my.LoginActivity"/>
        <activity android:name=".ui.my.RegisterActivity"/>
        <activity android:name=".ui.my.MyCollectionActivity"/>
        <activity android:name=".ui.my.MyBookmarkActivity"/>
        <activity android:name=".ui.setting.SettingActivity"/>
    </application>

</manifest>